<h1>Topic</h1>

<table>
    <tr></tr>
</table>
<% Object.keys(faculties).forEach(facultyId=>{ %>
    <h2><%= faculties[facultyId].name %></h2>
    <table>
        <tr>
            <td>
                <% faculties[facultyId].topics.forEach(topic => { %>
                 <p><%= topic.name %> </p>
                <% }) %>
            </td>
        </tr>
    </table>
    <hr>
<% }) %>

<%- JSON.stringify(faculties) %> 